* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.parent {
  width: 100%;
  height: 100vh;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.child {
  width: 500px;
  height: auto;
  border: 1px solid #DFDFDF;
}

.btn {
  width: 80px;
  height: 40px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 20;
  cursor: pointer;
}

.head {
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
  padding: 10px;
  border-bottom: 1px solid #DFDFDF;
}

.inputbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input {
  width: 380px;
  font-size: 14px;
  border: 2px solid #E1E4E8;
  padding: 10px;
}

.todo {
  display: flex;
  flex-direction: row;
  margin: 20px;
  background-color: #F2F2F2;
  padding: 15px;
}

.list {
  margin-top: 30px;
}

input:focus {
  outline: none;
}

.icon {
  position: sticky;
  left: 70%;
  padding-left: 15px;
  cursor: pointer;
}

#bin {
  color: crimson;
  padding-right: 15px;
  font-size: 17px;
}

#edit {
  font-size: 17px;
  color: #28A745;
}